/ Navigation
%nav.navbar.navbar-inverse{role: "navigation"}
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Rattle', root_path, class: 'navbar-brand'
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          %li
            %p.navbar-text
              Looged in as #{current_user.name || current_user.email}
          %li
            = link_to 'Sign out', destroy_user_session_path
        - else
          %li
            = link_to 'Sign up', new_user_registration_path
          %li
            = link_to 'Sign in', new_user_session_path

    / /.navbar-collapse
  / /.container
